@import url("https://minidiscordthemes.github.io/Snippets/MinimalSearchbar/main.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url("https://raw.githubusercontent.com/lumap/css-snippets/main/make-bios-long.css");
@import url("https://minidiscordthemes.github.io/Snippets/RoleTint/RoleTint.css");
@import url("https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css");
:root {
    --prompt-text: "be silly :3"; /* replace --prompt-text with your desired text if you want */
}
/* no line clamp on new profiles */

[class*=descriptionClamp] {
  -webkit-line-clamp: 9999999;
}

[class^="descriptionClamp_"] {
    display: block!important;
}

[class*=viewFullBio] {
  display: none;
}




.buttons-uaqb-5>.button-ejjZWC:first-child,
.link-39sEB3[href="/store"],
[class*="badgeContainer-"]:has([class*="bogoTrialBadge-"]),
[class*="giftCodeContainer-"]:first-child,
[aria-label="Customize your own profile theme, banner, animated avatar, and more with Nitro!"],
.containerWithMargin-1CVXAM {
  display: none;
}
.pronouns-17_QV6 {
  color: var(--text-normal);
  background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 60px,var(--profile-gradient-secondary-color));
  padding: 2px 8px;
  margin-top: 3px;
  border-radius: 4px;
}

[class^=content]:has(> video[data-testid="app-spinner"]) {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    translate: 25%;
    width: 200px;
    height: 180px;
    background-image: url('https://media.discordapp.net/stickers/1217112512374505613.png?size=320') !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  video { visibility: hidden; }
}

:root {
    /**
    DONT TOUTCHY, THATS NO NO
    */
    
    
--rs-small-spacing: 1px;
--rs-medium-spacing: 1px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 4px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #555d66;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
--rs-show-platformindicators: none;
}

/* fix webm */
[class*="inlineMediaEmbed"] {
  max-height: max-content !important;
  max-width: max-content !important;
}

[class*="loadingOverlay"] {
  aspect-ratio: unset !important;
}

[class*="imageWrapper"] {
  aspect-ratio: unset !important;
  width: max-content !important;
  height: max-content !important;
}

[class*="oneByOneGrid"] {
  max-height: max-content !important;
}

[class*="wrapperPaused"] {
  width: max-content;
  height: max-content;
}

